@import '../templates';
@import '../vars';
.container{
    @media (max-width:$sm){
        padding: 0 21px;
    }
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    }
header{
    background-color: #FCEFE4;
    .header_container{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo_name{
                font-family: $font;
              #name1{
                @media (max-width:$sm){
                    font-size: 13px;
                }
                font-size: 24px;
              }
              #name2{
                @media (max-width:$sm){
                    font-size: 6px;
                }
                font-size: 11px;
              }
            }
        }
      ul{
        display: flex;
        justify-content:space-around;
        align-items: center;
        li{
            @media (max-width:$sm){
               margin-right: 10px;
            }
            margin-right: 15px;
        }
        :last-child{
            margin-right: 0px;
        }
  }
}
}

.icon{
    @media (max-width:$sm){
       width: 24px;
       height: 24px;
    }
    display: block;
    fill:#EB8671;
    width: 40px;
    height: 40px;
    #burger{
        width: 25px;
        height: 26px;
    }
    }
.icon:hover{
    fill:yellow;
}
ul{
    list-style-type: none;
}
main{
    background-color: #FCEFE4;
.main_title{
    background-image:url(/assets/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 803px;
    .main_info{
        min-height: 803px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        p{
            @media (max-width:$sm){
                font-size: 12px;
                margin-top: 100px;
            }
            margin-top: 319px;
            font-family: $font;
            color: #272626;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

        }
        h1{
            @media (max-width:$sm){
                font-size: 24px;
            }
            font-family: $font;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.28%;
            max-width: 692px;
            max-height: 156px;
 }
 .form_button{
    @media (max-width:$sm){
        display: none;
    }
    max-width: 275px;
    min-height: 74px;
    margin-top: 28px;
    border: none;
    border-radius: 37px;
    color:#fff;
    font-family: $font;
    font-size: 24px;
    font-weight: 700;
line-height: normal;
    background-color:#D7537A;
    outline: none;
    cursor: pointer;
    transition: 0.4c;
 }
    }
}
}
h2{
    @media (max-width:$sm){
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
    }
    margin-top: 40px;
    font-family: $font;
    font-size: 30px;
    color: black;
    font-weight: 800;
    padding-bottom: 40px;
}
.main_katalog{
  @media (max-width:$sm){
    flex-wrap: nowrap;
  }
    min-height: 245px;
    max-width: 1170px;
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;

.card{
    max-width: 284px;
    padding:10px 10px 35px 10px;
    border-radius: 0px 20px 20px 20px;
background-color: #fff;
    .card_img{
        background-image: url(/assets/images/catalog.png);
    background-position: center;
        border-radius: 0px 10px 0px 0px;
        min-height:245px;
        display: flex;
        flex-direction: column;
        .hit{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 6px 6px 0px;
background: #FD4F79;
color: #fff;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 8px;
 }
        .new_flower{ 
            display: flex;
           align-items: center;
           justify-content: center;
           border-radius: 0px 6px 6px 0px;
background:#4AE950;
color: #fff;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 8px;
}
.day_flower{ 
    display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0px 6px 6px 0px;
background:#FD984F;
color: #fff;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 8px;
}
        .sale{ 
             display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;
            border-radius: 6px 0px 0px 6px;
background:#F1EB4C;
color: #7EA048;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 120px;
 }
    }
    p{
        color: #272626;
font-family: $font;
font-size: 16px;
min-height: 18px;
padding-top: 5px;
    }
    .cost{
        margin-top: 58px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .cost_full{
            grid-row: 1/2;
            grid-column: 1/2;
            color: #8E8D6F;
font-family: $font;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: line-through;

        }
        .cost_sale{
            grid-row: 2/3;
            grid-column: 1/2;
            color: #7EA048;
font-family: $font;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

        }
        .order{
            grid-row: 1/3;
            grid-column: 2/3;
            max-width: 140px;
            min-height: 40px;
            margin-top: 28px;
            border: none;
            border-radius: 37px;
            color:#fff;
            font-family: $font;
            font-size: 18px;
            font-weight: 700;
        line-height: normal;
            background-color:#D7537A;
            outline: none;
            cursor: pointer;
            transition: 0.3c;

        }
    }
}

}
.card1{
    @media (max-width:$sm){
        display: none;
    }
    max-width: 284px;
    padding:10px 10px 35px 10px;
    border-radius: 0px 20px 20px 20px;
background-color: #fff;
    .card_img{
        background-image: url(/assets/images/catalog.png);
    background-position: center;
        border-radius: 0px 10px 0px 0px;
        min-height:245px;
        display: flex;
        flex-direction: column;
        .hit{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 6px 6px 0px;
background: #FD4F79;
color: #fff;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 8px;
 }
        .new_flower{ 
            display: flex;
           align-items: center;
           justify-content: center;
           border-radius: 0px 6px 6px 0px;
background:#4AE950;
color: #fff;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 8px;
}
.day_flower{ 
    display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0px 6px 6px 0px;
background:#FD984F;
color: #fff;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 8px;
}
        .sale{ 
             display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;
            border-radius: 6px 0px 0px 6px;
background:#F1EB4C;
color: #7EA048;
font-family: $font;
font-size: 14px;
opacity: 0.8;
max-width: 115px;
min-height: 25px;
margin-top: 120px;
 }
    }
    p{
        color: #272626;
font-family: $font;
font-size: 16px;
min-height: 18px;
padding-top: 5px;
    }
    .cost{
        margin-top: 58px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .cost_full{
            grid-row: 1/2;
            grid-column: 1/2;
            color: #8E8D6F;
font-family: $font;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: line-through;

        }
        .cost_sale{
            grid-row: 2/3;
            grid-column: 1/2;
            color: #7EA048;
font-family: $font;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

        }
        .order{
            grid-row: 1/3;
            grid-column: 2/3;
            max-width: 140px;
            min-height: 40px;
            margin-top: 28px;
            border: none;
            border-radius: 37px;
            color:#fff;
            font-family: $font;
            font-size: 18px;
            font-weight: 700;
        line-height: normal;
            background-color:#D7537A;
            outline: none;
            cursor: pointer;
            transition: 0.3c;

        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FCEFE4;
min-height: 50px;
}